In [1]:
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

아무 문장이나 입력하세요 : 가나다라
가나다라

In [2]:
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]

In [3]:
arVal = [flVal, flVal, flVal]
arVal

[[1.0, 2.0, 3.14, 4.2, 5.1],
 [1.0, 2.0, 3.14, 4.2, 5.1],
 [1.0, 2.0, 3.14, 4.2, 5.1]]

In [4]:
arVal[0]

[1.0, 2.0, 3.14, 4.2, 5.1]

In [5]:
arVal[1]

[1.0, 2.0, 3.14, 4.2, 5.1]

In [6]:

arVal[1][2]

3.14

In [7]:
arVal[0] = 'python'
arVal

['python', [1.0, 2.0, 3.14, 4.2, 5.1], [1.0, 2.0, 3.14, 4.2, 5.1]]

In [8]:
arVal[0][2]

't'

In [9]:
arVal[0] = 'python programming'
arVal

['python programming', [1.0, 2.0, 3.14, 4.2, 5.1], [1.0, 2.0, 3.14, 4.2, 5.1]]

In [10]:
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

array([1.  , 2.  , 3.14, 4.2 , 5.1 ])

In [11]:
arData.sum()

15.44

In [12]:
arVal.sum()

AttributeError: 'list' object has no attribute 'sum'

In [13]:
print(type(arVal))
print(type(arData))

<class 'list'>
<class 'numpy.ndarray'>

In [14]:
arData.std()

1.4717934637713266

In [15]:
arData.cumsum()

array([ 1.  ,  3.  ,  6.14, 10.34, 15.44])

In [16]:
arData * 2

array([ 2.  ,  4.  ,  6.28,  8.4 , 10.2 ])

In [18]:
arData ** 2

array([ 1.    ,  4.    ,  9.8596, 17.64  , 26.01  ])

In [19]:
np.sqrt(arData)

array([1.        , 1.41421356, 1.77200451, 2.04939015, 2.25831796])

In [20]:
arVal = np.array([arData, arData ** 2])
arVal

array([[ 1.    ,  2.    ,  3.14  ,  4.2   ,  5.1   ],
       [ 1.    ,  4.    ,  9.8596, 17.64  , 26.01  ]])

In [21]:

arVal.sum(axis=0)

array([ 2.    ,  6.    , 12.9996, 21.84  , 31.11  ])

In [22]:
arVal.sum(axis=1)

array([15.44  , 58.5096])

In [23]:
np.array([[0,0,0],[0,0,0]])

array([[0, 0, 0],
       [0, 0, 0]])

In [24]:
arZero = np.zeros((2,3), dtype = 'i') 
arZero

array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)

In [25]:
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index=['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

<class 'pandas.core.series.Series'>

국어    30
영어    20
수학    10
dtype: int64

In [26]:
pandas_series[1:]

영어    20
수학    10
dtype: int64

In [27]:
pandas_series[0]

30

In [28]:
pandas_series[0][1]

IndexError: invalid index to scalar variable.

In [29]:
df = pd.DataFrame([30,20,10], columns=['score'], index=['국어', '영어', '수학'])
df

    score
국어     30
영어     20
수학     10

In [30]:
df.index

Index(['국어', '영어', '수학'], dtype='object')

In [31]:
df.columns

Index(['score'], dtype='object')

In [32]:
df.loc['국어']

score    30
Name: 국어, dtype: int64

In [33]:
df.sum()

score    60
dtype: int64

In [34]:
df.score ** 2

국어    900
영어    400
수학    100
Name: score, dtype: int64

In [35]:
df['score2'] = (50, 50, 50)
df

    score  score2
국어     30      50
영어     20      50
수학     10      50

In [36]:
df['score2'] = pd.DataFrame([90,90,90], index=['국어', '영어', '수학'])
df

    score  score2
국어     30      90
영어     20      90
수학     10      90

In [37]:
del df['score']

In [38]:
df['score2'] = (90, 90, 90, 100)

ValueError: Length of values (4) does not match length of index (3)

In [39]:
df['score2'] = pd.DataFrame([90, 90, 90, 100], index=['국어', '영어', '수학', '윤리'])
df

    score2
국어      90
영어      90
수학      90

In [40]:
df1 = pd.DataFrame([1, 2, 3], columns = ['A'])
df2 = pd.DataFrame([10, 11, 12, 13], columns = ['B'])

df = df1.join(df2, how='outer')
df

     A   B
0  1.0  10
1  2.0  11
2  3.0  12
3  NaN  13

In [41]:
df_inner = df1.join(df2, how='inner')
df_inner

   A   B
0  1  10
1  2  11
2  3  12

In [42]:
df = pd.DataFrame(np.random.randn(5,5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

          A         B         C         D         E
0 -0.682224 -0.364779  0.737609 -1.040331  0.509526
1 -0.119246 -0.439905 -1.968448  1.178649  1.467191
2 -0.190411  0.011236 -1.139381  1.722292  0.913915
3 -0.720541 -0.656169  0.371262  1.204462 -0.128949
4 -0.589738  0.327670 -0.199697 -1.078066  0.405057

In [43]:
df.max()

A   -0.119246
B    0.327670
C    0.737609
D    1.722292
E    1.467191
dtype: float64

In [44]:
df.min()

A   -0.720541
B   -0.656169
C   -1.968448
D   -1.078066
E   -0.128949
dtype: float64

In [45]:
df.mean()

A   -0.460432
B   -0.224389
C   -0.439731
D    0.397401
E    0.633348
dtype: float64

In [46]:
df.std()

A    0.284116
B    0.391433
C    1.109948
D    1.347322
E    0.596355
dtype: float64

In [47]:
df.cumsum()

          A         B         C         D         E
0 -0.682224 -0.364779  0.737609 -1.040331  0.509526
1 -0.801470 -0.804684 -1.230840  0.138319  1.976717
2 -0.991882 -0.793448 -2.370220  1.860610  2.890631
3 -1.712422 -1.449617 -1.998958  3.065072  2.761682
4 -2.302161 -1.121947 -2.198655  1.987006  3.166739

In [48]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean  -0.460432 -0.224389 -0.439731  0.397401  0.633348
std    0.284116  0.391433  1.109948  1.347322  0.596355
min   -0.720541 -0.656169 -1.968448 -1.078066 -0.128949
25%   -0.682224 -0.439905 -1.139381 -1.040331  0.405057
50%   -0.589738 -0.364779 -0.199697  1.178649  0.509526
75%   -0.190411  0.011236  0.371262  1.204462  0.913915
max   -0.119246  0.327670  0.737609  1.722292  1.467191

In [49]:
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

          A         B         C         D         E division
0 -0.682224 -0.364779  0.737609 -1.040331  0.509526        X
1 -0.119246 -0.439905 -1.968448  1.178649  1.467191        Y
2 -0.190411  0.011236 -1.139381  1.722292  0.913915        X
3 -0.720541 -0.656169  0.371262  1.204462 -0.128949        Y
4 -0.589738  0.327670 -0.199697 -1.078066  0.405057        Z

In [50]:
df.groupby(['division']).mean()

                 A         B         C         D         E
division
X        -0.436318 -0.176772 -0.200886  0.340980  0.711720
Y        -0.419893 -0.548037 -0.798593  1.191556  0.669121
Z        -0.589738  0.327670 -0.199697 -1.078066  0.405057